<p><%= @city %> Profile</p>

<h2>Air Quality</h2>

<p><%= @aqi_score %></p>

<% if @aqi_score_check.eql?("Good") %>
	<p style="color: green">
		<%= @aqi_score_check %>
	</p>

<% else %>
	<p style="color: red">
		<%= @aqi_score_check %>
	</p>

<% end %> 


<a href="/">Return to Home</a>
