<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form method="GET" action="/city_profile">
  <label for="city">City</label><br>
  <input type="text" id="city" name="city" value="Austin"><br>
  <input type="submit" value="Submit">
</form> 

<p>Click the "Submit" button to check the air quality.</p>

</body>
</html>
